*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(238, 236, 236);
}


.page-wrapper{
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
    
}

@media (max-width:900px){
    .page-wrapper{
        width: 100vw;
        margin-left: 0;
        margin-right: 0;
    }
}